/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #eaeaea;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 5rem;
  max-height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.edit-link {
  color: blue;
  text-decoration: underline;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.table {
  border-collapse: collapse;
  width: 75%;
  table-layout: fixed;
}

th {
  padding: 1%;
  font-size: large;
  background-color: gray;
  border: solid;
}

td {
  padding: 0.5%;
  background-color: lightgrey;
  border: solid;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 10px;
  text-align: center;
}

.alert-primary {
  background: var(--primary-color);
  color: #eaeaea;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #eaeaea;
}

.alert-danger {
  background: var(--danger-color);
  color: #eaeaea;
}

.alert-success {
  background: var(--success-color);
  color: #eaeaea;
}

.alert-white {
  background: #eaeaea;
  color: #333;
  border: #ccc solid 1px;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  background: var(--dark-color);
  color: #eaeaea;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #eaeaea;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.landing-background {
  position: relative;
  height: 100vh;
  background: url("./assets/landing.png") no-repeat center center/cover;
  filter: blur(5px);
}

.landing-inner {
  color: #eaeaea;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-item {
  width: 45%;
  margin: 1%;
  height: 16vh;
  text-transform: uppercase;
  font-size: 300%;
  border-radius: 25px;
  font-weight: bold;
  border-color: black;
  filter: drop-shadow(5px 5px 10px);
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
    0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item:active {
  filter: none;
}

.sprite {
  height: 60%;
  width: 60%;
}

.pokedex-item {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  text-align: "center";
  flex-flow: wrap;
  text-align: center;
  border-radius: 10%;
  width: 11em;
  height: 11em;
  background-color: lightgrey;
  margin: 1%;
  cursor: pointer;
}

.caption {
  display: block;
  font-size: 0.75em;
}
